# /etc/systemd/system/morio-metrics.service
[Unit]
Description=Morio metrics collection service
Documentation=https://morio.it/

[Service]
ExecStart=/sbin/morio metrics
Restart=always
SyslogIdentifier=morio-metrics
TimeoutSec=15
TimeoutStopFailureMode=kill

[Install]
WantedBy=default.target
