@tailwind base;
@tailwind components;
@tailwind utilities;

@import './code.css';

:root {
}

[data-theme='dark'] {
  :root {
  }
}

@layer components {
  /* Applied styles for common HTML tags */
  h1 {
    @apply text-base-content text-4xl py-5 font-bold lg:text-6xl;
  }
  h2 {
    @apply text-base-content text-3xl pt-4 pb-3 m-0 font-medium lg:text-4xl;
  }
  h3 {
    @apply text-base-content text-2xl pt-3 pb-2 m-0 font-medium lg:text-3xl;
  }
  h4 {
    @apply text-base-content text-xl pt-2 pb-1 m-0 font-medium lg:text-2xl;
  }
  h5 {
    @apply text-base-content text-lg py-1 m-0 font-medium lg:text-xl;
  }
  h6 {
    @apply text-base-content text-base py-0 m-0 font-medium lg:text-lg;
  }
  p {
    @apply text-base-content my-1 py-2 text-base leading-6;
  }
  .btn {
    @apply normal-case;
  }

  /* Dropdowns */
  .navdrop {
    max-height: 80vh;
  }

  /* Keep spacing after headings between p and non-p consistent */
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    padding-top: 0;
    margin-top: 0;
  }

  /* mdx styles */
  .mdx a:not(.btn) {
    @apply underline decoration-2;
  }
  .mdx a:hover {
    @apply decoration-4;
  }
  .mdx ul {
    @apply pl-0 lg:pl-4  list-disc list-inside text-base-content;
  }
  .mdx ol ul,
  .mdx ul ul {
    @apply pl-2 lg:pl-4  list-disc list-inside text-base-content;
  }
  .mdx ol {
    @apply pl-0 lg:pl-4 list-decimal list-inside text-base-content;
  }
  .mdx ul ol,
  .mdx ol ol {
    @apply pl-2 lg:pl-4 list-decimal list-inside text-base-content;
  }
  .mdx code {
    @apply bg-neutral-content px-2 rounded text-neutral font-mono font-bold;
  }
  .mdx pre code {
    @apply bg-inherit;
  }
  .mdx p:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  .mdx.dense p {
    padding: 0;
    margin: 0;
  }
  .mdx.inherit-color p {
    color: inherit;
  }
  code {
    @apply bg-base-300 border border-base-300 px-1.5 py-0.5 bg-opacity-30 rounded;
  }

  /* statuslug styles */
  table.statuslog > tr > td > div.mdx > p {
    padding: 0;
    margin: 0;
    font-size: 80%;
  }
  table.statuslog > tr > td > div.mdx > p code {
    border: 0;
    padding: 0;
    font-weight: normal;
    background: transparent;
    @apply text-primary;
  }
  table.statuslog > tr > td > div.mdx > p > strong {
    text-transform: uppercase;
  }
}

/* Link color per theme */
a {
  color: var(--morio-link);
}
a.dark {
  color: var(--morio-accent1);
}

/*
 * Smooth scrolling
 */
html {
  scroll-behavior: smooth;
}

.animate-bounce-right {
  animation: bounceright 1s 3;
}

@keyframes bounceright {
  0%,
  100% {
    transform: translateX(-12.5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(12.5%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
