Package: morio-client
Source: morio-client
Version: 0.0.1-22
Section: utils
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: 500000
Maintainer: CERT-EU <services@cert.europa.eu>
Changed-By: Joost De Cock <joost.decock@cert.europa.eu>
Homepage: https://github.com/certeu/morio
Description: The Morio client collects and ships observability data to a Morio instance.
  Deploy this Morio client (based on Elastic Beats) on your endpoints,
  and collect their data on one or more centralized Morio instances
  for analysis, further processing, downstream routing & filtering,
  or event-driven automation.
Vcs-Git: https://github.com/certeu/morio -b main [clients/linux]
Depends: auditbeat (>= 8.12), filebeat (>= 8.12), metricbeat (>= 8.12)
Uploaders: Joost De Cock <joost.decock@cert.europa.eu>
