# /etc/systemd/system/morio-audit.service
[Unit]
Description=Morio audit info collection service
Documentation=https://github.com/certeu/morio

[Service]
ExecStart=/sbin/morio-audit
Restart=always
SyslogIdentifier=morio-audit

[Install]
WantedBy=default.target
