/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .flexWrapper div {
    max-width: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexWrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.flexWrapper div {
  box-shadow: var(--mdx-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 310px;
  text-align: left;
}
.flexWrapper > div > h2 {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.clickme {
  background: 'red';
  opacity: 60;
  font-weight: bold;
}
