{{#MORIO_DOCS}}
description: An auditbeat module that provides basic monitoring of a Linux system
about: "This is a rather
lengthy description you known"
platforms:
  - linux
vars:
  defaults:
    LINUX_SYSTEM_MULTICAST_AUDIT: false
    LINUX_SYSTEM_MITRE_AUDIT: false

{{/MORIO_DOCS}}
{{^MORIO_DOCS}}
- module: auditd
{{#LINUX_SYSTEM_MULTICAST_AUDIT}}
  socket_type: multicast
{{/LINUX_SYSTEM_MULTICAST_AUDIT}}
  audit_rules: |
    -w /etc/morio/audit/config.yml
    -w /etc/morio/audit/modules.d/lin-system.yml
    -w /etc/morio/audit/modules.d/lin-auditd.yml
{{#LINUX_SYSTEM_MITRE_AUDIT}}
  audut_rule_files:
    - /etc/morio/audit/rules.d/mitre
{{/LINUX_SYSTEM_MITRE_AUDIT}}
  ignore_errors: false
  processors:
    - add_fields:
        target: morio
        fields.module: lin-auditd
{{/MORIO_DOCS}}

